<div class="container">
    <div class="eduChoice" routerLink="edu/first">
        <img class="eduImage"
            src="https://images.unsplash.com/photo-1596496181848-3091d4878b24?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
            alt="Image of edu">
        <h2>First edu</h2>
        <div><span>This is the biggest baddest course you will ever find</span></div>
    </div>
    <div class="eduChoice" routerLink="edu/first">
        <img class="eduImage"
            src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80"
            alt="Image of edu">
        <h2>First edu</h2>
        <div><span>This is the biggest baddest course you will ever find</span></div>
    </div>
    <div class="eduChoice" routerLink="edu/first">
        <img class="eduImage"
            src="https://images.unsplash.com/photo-1550439062-609e1531270e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
            alt="Image of edu">
        <h2>First edu</h2>
        <div><span>This is the biggest baddest course you will ever find</span></div>
    </div>
</div>

