.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
  margin: 2rem;
  .eduChoice {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    padding: 1rem;
    .eduImage {
      height: 100%;
    }
  }
}
